*.swp
.ccls
.ccls-cache/
compile_commands.json
.DS_Store
.vscode/
*.o
*.d
src/core/chuck.output
src/core/chuck.tab.c
src/core/chuck.tab.h
src/core/chuck.yy.c
src/main
__pycache__
src/data/european-st-t-database-1.0.0/
src/data/MLII/
*.wav
